.container{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-image: url('/assets/images/pawel-czerwinski-8uZPynIu-rQ-unsplash.jpg') */
  background-image: url('/assets/images/luke-chesser-zFaSM1hz02c-unsplash.jpg');
  padding: 0 50px 85px 50px;
  border-radius: 10px;
  position: absolute;
  margin: auto;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 0 50px 85px 50px;

}

.container .sidebar{
  text-align: center;
}

.container .sidebar .side-header{
  margin-top:50px;
  padding-bottom: 20px;
}
.container .row .col-12{
  text-align:  center;
  margin-left: auto;  
  margin-right: auto;  
  border-collapse: collapse;   

}