<nav class="navbar navbar-expand-lg p-3 navbar-light" id="mainNav">
    <div class="container">
        <a class="navbar-brand">
            <img src="/assets/images/63f0eaab4f7e47e5e967075faae017c2--health-logo-graphic-design-blogs.jpg" alt="Fit'N'Healthy" style="border-radius: 50%;" width="30" height="24" class="d-inline-block align-text-top">
            Fit<span class="text-danger">'N'</span>Healthy
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="home" >Home</a></li>
                <!-- <li class="nav-item"><a class="nav-link" routerLinkActive="active" (click)='onClick("about")' >About</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" (click)='onClick("services")' >Services</a></li>
                <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="contactus">Contact Us</a></li> -->
                <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="dashboard">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="root/rootprofile">Profile</a></li>
                <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="posts">Posts</a></li>
                <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="post">Post</a></li>
                <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="categories">Categories</a></li>
                <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="category">Category</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="createpost" >New Post</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="addcategory" >Add Category</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="login">Log In</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="register">Sign Up</a></li>
                <li class="nav-item"><a class="nav-link" *ngIf="_authService.loggedIn()" (click)="_authService.loggedOutUser()">Log Out</a></li>
                
            </ul>
        </div>
    </div>
</nav>