
<!-- About Us Start -->
<!-- Page Header-->
<header class="masthead" id="category">
    <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1 class="text-success">{{categoryItem.category}}<span class="text-warning">!!</span></h1>
                            <div *ngIf="_authservice.roleAccess()" >
                                
                                <button class="btn btn-warning" id="edit" style="cursor:pointer"  (click)="editCategory(categoryItem)"> Edit</button>
                             
                                <button class="btn btn-danger" id="delete" style="cursor:pointer" (click)="deleteCategory(categoryItem)" > Delete</button>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-12 col-lg-10 col-xl-8">
                        <p>{{categoryItem.about}}</p>
                    </div>
                </div>
            </div>
        </main>
<!-- About Us End -->

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center" *ngFor="let post of posts;">
        <div class="col-md-10 col-lg-8 col-xl-10">
            <!-- Post preview-->
            <div class="post-preview shadow" (click)="singlepost(post)" >
                <a>
                    <h2 class="post-title">{{post.head}}</h2>
                    <h3 class="post-subtitle">{{post.subhead}}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a>{{post.authorname}}</a>
                    on {{post.date}}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
           
        </div>
    </div>
</div>