/* 
---------------------------------------------
welcome
--------------------------------------------- 
*/
#home{
  height: 100vh;
}

.welcome-area .header-text{
  width: 100%;
  background: no-repeat center center;
  background-color: #6c757d;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-image: url('/assets/images/pexels-karolina-grabowska-5202055.jpg')
  
}

.welcome-area .header-text .left-text {
  align-self: center;
  flex:content;
  flex-direction: column;
  position:absolute;
  bottom: 200px;
  left: 100px;
}

.welcome-area .header-text h1 {
  font-weight: 900;
  animation: slideIn ease-in-out 1s;
  animation-fill-mode: both;
  font-size: 52px;
  line-height: 80px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: rgb(56, 143, 134);
}

.welcome-area .header-text h1 em {
  font-style: normal;
  color: #fba70b;
}

.welcome-area .header-text p {
  font-weight: bold;
  font-size: 20px;
  animation: fadeInUp ease-in-out 1.5s;
  color: #06a3c2;
  line-height: 50px;
  letter-spacing: 0.25px;
  position: relative;
  animation-fill-mode: both;
}

.scroll-arrow{
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: fadebounce 4s infinite;
}

#body{
  background-color: rgba(255, 255, 255, 0.797);
  animation-delay: calc(var(--scroll) * -1s);
}


.heading-section {
  animation: fadeInUp 1s ease-in-out 1s;
  text-align: center;
  padding-top: 100px;
}

.service-item h4 {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  margin-top: 25px;
}

.col-sm-10 .service-item{
      animation: fadeInUp 1s ease-in-out 1.5s;
      padding: 30px;
      border-radius: 20px;
      margin-top: 40px;
      text-align: center;
      border: 3px solid rgba(228, 224, 224, 0.708);
      -wekbit-transition: all 500ms linear;
      transition: all 500ms linear;
  }

  .col-sm-10 .service-item:focus, .col-sm-10 .service-item:hover{
      -webkit-box-shadow: 10px 10px 115px -40px rgb(247, 219, 168);
      -moz-box-shadow: 10px 10px 115px -40px rgb(247, 219, 168);
      box-shadow: 10px 10px 115px -40px rgb(243, 201, 123);
      border: 2px solid rgba(251,167,11,1);
      color: #0085A1;
      text-align: center;
      transition: all .2s ease-in-out;
      transform:scale(1.01);
  }
  /*-- End Services --*/

  /* Blog Section Start */
  

  #blog {
    padding-top: 10rem;
    padding-bottom: 10rem;
    overflow: hidden;
  }

  #blog .blog-thumb {
    position: relative;
    border: 3px solid rgba(228, 224, 224, 0.708);
    text-align: center;
    border-radius: 20px;
    padding: 40px;
    -wekbit-transition: all 500ms linear;
    transition: all 500ms linear;
  }

  #blog .blog-thumb:focus,  #blog .blog-thumb:hover{
    -webkit-box-shadow: 10px 10px 115px -40px #65ddf57b;
    -moz-box-shadow: 10px 10px 115px -40px #65ddf57b;
    box-shadow: 10px 10px 115px -40px #65ddf57b;
    border: 2px solid #0085A1;
    color: rgba(251,167,11,1);
    text-align: center;
    transition: all .2s ease-in-out;
    transform:scale(1.01);
  }
   
  #blog .blog-thumb:hover .blog-date, #blog .blog-thumb:hover h3 a,
  #blog .blog-thumb:hover #blog-author {color: #f78e21;}
  
  #blog .col-md-6:nth-child(2) .blog-thumb,
  #blog .col-md-6:nth-child(3) .blog-thumb {
    margin-top: 72px;
  }
  
  #blog .col-md-6:nth-child(4) .blog-thumb,
  #blog .col-md-6:nth-child(5) .blog-thumb {
    margin-top: 42px;
  }
  
  a {
    text-decoration: none;
    outline: none;
  }
  
  #blog h3 a {
    color: #606060;
  }
  
  #blog .blog-date {
    color: #999;
    font-weight: bold;
  }
  
  #blog #blog-author {
    color:  rgb(56, 143, 134);
    letter-spacing: 1px;
  }
  
  /* Blog Section End */

  /* About Us Section Start */
  
  
header.masthead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('/assets/images/pexels-the-th-179912.jpg')
  }
  header.masthead:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
  }
  header.masthead .page-heading {
    color: #fff;
  }
  header.masthead .page-heading {
    text-align: center;
  }
  header.masthead .page-heading h1, header.masthead .page-heading .h1 h1 .h1 {
    font-size: 3rem;
  }
  header.masthead .page-heading .subheading {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin-top: 0.625rem;
  }
  @media (min-width: 992px) {
    header.masthead {
      padding-top: 12.5rem;
      padding-bottom: 12.5rem;
    }
    header.masthead .page-heading h1, header.masthead .page-heading .h1 h1 .h1 {
      font-size: 5rem;
    }
  
  }
  /* About Us Section End */

  /* Animations */
      
      @keyframes slideIn{
        from{
          opacity: 0;
          transform: translateX(20%);
        }
        to{
          transform: translateX(0);
          opacity: 1;
      
        }
      }
      
      @keyframes fadeInUp{
        from{
          opacity: 0;
          transform: translateY(20%);
        }
        to{
          transform: translateY(0);
          opacity: 1;
      
        }
      }

      @keyframes fadebounce{
        0%,
        20%,
        50%,
        80%,
        100%{
          opacity: 0;
          transform: translateY(-20px)
        }
        40%{
          opacity: 1;
          transform: translateY(0);
        }
      }