    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="home">
        <!-- ***** Header Text Start ***** -->
        <div class="header-text h-100">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-12">
                        <h1>Health and Fitness Blog to <em>Enlighten</em></h1>
                        <p>Fit<a class="text-danger">'N'</a>Healthy is Content Management Application build using <b>MEAN stack</b> framework.</p> 
                        <p> You can sign up with ease and start creating posts for <a class="text-danger fs-2">free!!!</a></p> 
                    </div>
                </div>
            </div>
            <div class="scroll-arrow">
                <svg width="30px" height="20px">
                    <path
                        stroke="black"
                        fill="none"
                        stroke-width="3px"
                        d="M2.000,5.000 L15.000,18.000 L28.000,5.000">
    
                    </path>
                </svg>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->
 <section id="body">
     <div id="services">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <div class="heading-section">
                         <h2>Services</h2>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-6 col-sm-10">
                     <div class="service-item">
                         <div class="icon">
                             <span class="fa fa-pencil"></span>
                         </div>
                         <h4>Make an order</h4>
                         <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                     </div>
                 </div>
                 <div class="col-md-6 col-sm-10">
                     <div class="service-item">
                         <div class="icon">
                             <span class="fa fa-bullhorn"></span>
                         </div>
                         <h4>Promotions</h4>
                         <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                     </div>
                 </div>
                 <div class="col-md-6 col-sm-10">
                     <div class="service-item">
                         <div class="icon">
                             <span class="fa fa-bell"></span>
                         </div>
                         <h4>Ready to Serve</h4>
                         <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                     </div>
                 </div>
                 <div class="col-md-6 col-sm-10">
                     <div class="service-item">
                         <div class="icon">
                             <span class="fa fa-heart"></span>
                         </div>
                         <h4>Satisfaction</h4>
                         <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu  sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                     </div>
                 </div>
             </div>
            </div>
     </div>
 
     <!-- =========================
     BLOG SECTION   
 ============================== -->
 <section id="blog" class="parallax-section">
     <div class="container">
         <div class="row">
 
             <div class="col-md-12 col-sm-10 text-center">
                 <h2>Fitness Blog</h2>
                 <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo.</p>
             </div>
 
             <div class="col-md-6 col-sm-10">
                 <div class="blog-thumb">
                     <span class="blog-date">Body Fitness / July 2, 2016</span>
                     <h3 class="blog-title"><a>How to get a fitness model body?</a></h3>
                     <h5 id="blog-author">by David Walker</h5>
                 </div>
             </div>
 
             <div class="col-md-6 col-sm-10">
                 <div class="blog-thumb">
                     <span class="blog-date">Healthy Fit / June 8, 2016</span>
                     <h3 class="blog-title"><a>Personal Fitness Tips</a></h3>
                     <h5 id="blog-author">by George</h5>
                 </div>
             </div>
 
             <div class="col-md-6 col-sm-10">
                 <div class="blog-thumb">
                     <span class="blog-date">Gym Services / May 9, 2016</span>
                     <h3 class="blog-title"><a>Efficient Workout Plans</a></h3>
                     <h5 id="blog-author">by Mary Louis</h5>
                 </div>
             </div>
 
             <div class="col-md-6 col-sm-10">
                 <div class="blog-thumb">
                     <span class="blog-date">Practice Aerobics / April 18, 2016</span>
                     <h3 class="blog-title"><a>How to practice Aerobics?</a></h3>
                     <h5 id="blog-author">by Michael Fit</h5>
                 </div>
             </div>
             
         </div>
     </div>
 </section>
 </section>

<!-- About Us Start -->
<!-- Page Header-->
<header class="masthead" id="about">
    <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Us</h1>
                            <span class="subheading">This is what we do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-12 col-lg-10 col-xl-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>
                    </div>
                </div>
            </div>
        </main>
<!-- About Us End -->