
            <form [formGroup]="secondFormGroup" (ngSubmit)="createPost()">
                <div class="topic">Post Content</div>

                <div class="input-box form-group">
                  <input [class.is-invalid]="head?.invalid && head?.touched"  class="form-control" formControlName ="head" type="text" pattern='^[A-Za-z\s]{6,}$' required>
                  <label>Post Heading</label>
                  <div class="check container mt-4 pt-1" *ngIf="head?.invalid && (head.dirty || head?.touched)">
                      <label *ngIf="head.errors?.['required']" class="text-danger">Heading is Required</label>
                      <label *ngIf="head.errors?.['pattern']" class="text-danger">Heading must have at least 6 characters</label>
                  </div>
                </div>
                <div class="pt-1"></div>
          
                <div class="input-box form-group">
                  <input [class.is-invalid]="subhead?.invalid && subhead?.touched" class="form-control" formControlName ="subhead" type="text"  required>
                  <label>Post Subheading</label>
                  <div class="check container mt-4 pt-1" *ngIf="subhead?.invalid && (subhead.dirty || subhead?.touched)">
                    <label *ngIf="subhead.errors?.['required']" class="text-danger">Subhead is Required</label>
                    <!-- <label *ngIf="subhead.errors?.['pattern']" class="text-danger">Invalid Subhead</label> -->
                </div>
            </div>
            <div class="pt-1"></div>
            
            
            <div class="input-box form-group">
                <input [class.is-invalid]="image?.invalid && image?.touched" class="form-control" placeholder="Choose an Image" formControlName ="postImagePath" type="file" required>
                <div class="check container mt-4 pt-1" *ngIf="image?.invalid && image?.touched">
                    <label *ngIf="image.errors?.['required']" class="text-danger">Image is Required</label>
                </div>
            </div>
                <div class="pt-1"></div>
                
            <div class=" input-box form-group">
                    <textarea class="form-control py-3" id="bodyInput" autosize data-cy="bodyInput" placeholder="Post body text" formControlName="body" [class.is-valid]="bodyControlValid" [class.is-invalid]="bodyControlInvalid"></textarea>
                    <div class="check container mt-4 pt-1" *ngIf="body?.invalid && (body.dirty || body?.touched)">
                        <div class="invalid-feedback" *ngIf='bodyControl.hasError("required")'>Body content required</div>
                        <div class="invalid-feedback" *ngIf='bodyControl.hasError("body")'>Body content is not valid</div>
                    </div>
            </div>
             
            <div class="input-box">
                <input type="submit" value="Submit">
        </div>
        </form>
