
<div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2>{{postItem.head}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- =========================
    BLOG div   
============================== -->
<div id="blog">
	<div class="container">
		<div class="row">

			<div class="col-md-8 col-sm-7">
				<p>Written on: {{postItem.date}}</p>
				<!-- <p > -->
				<p *ngIf="_authservice.postAccess()||_authservice.roleAccess()" >
					           
					<button class="btn btn-warning" id="edit" style="cursor:pointer" (click)="editPost(postItem)" > Edit</button>
				 
					<button class="btn btn-danger" id="delete" style="cursor:pointer" (click)="deletePost(postItem)" > Delete</button>   
				</p>
				<div class="blog-author wow fadeInUp" data-wow-delay="1s">
					<div class="media">
						<div class="media-body">
							<h4 class="media-heading">Author: <b> {{postItem.authorname}} </b> </h4>
							<p>{{postItem.category}}</p>
						</div>
					</div>
				</div>
				<div class="blog-content wow fadeInUp" data-wow-delay="1s">
                	<h3>{{postItem.subhead}}</h3>
					<p class="p-3">{{postItem.body}}</p>
				</div>
            
			</div>

			<div class="col-md-4 col-sm-5 wow fadeInUp" data-wow-delay="1.3s">
            
            	<div class="blog-categories">
					<h3>Categories</h3>
						<li  *ngFor="let cat of cats;"><a>{{cat.category}}</a></li>
				</div>
                
			</div>
			
		</div>
	</div>
</div>