<div class='card'>
    <br>
    <div class='head'>
     Profile List
    </div>
    <div class='card-body'>            
      <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th>User Name</th>
              <th>Email</th>
              <th>User Role</th>
            </tr>
           
          </thead>
          <tbody>  
              <tr *ngFor="let i of profiles" >
                  <td>{{i.username}}</td>
                  <td>{{i.email}}</td>
                  <td>{{i.role}}</td>
                  <td>
                    <button class="btn btn-warning mx-3" style="cursor:pointer" (click)="editRole(i)" style="margin-left:20px;"> Edit</button>
                    <button class="btn btn-danger" style="cursor:pointer"(click)="deleteUser(i)"> Delete</button>
                  </td>
            </tr>              
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
