<mat-vertical-stepper class="container shadow rounded p-5">
    <mat-step label="Category" [stepControl]="categoryForm.control" errorMessage="Category is required.">
        <form class="form-floating" #categoryForm="ngForm">
            <ng-template matStepLabel>Enter Category</ng-template>
            <div class="input-box form-group">
                <input [class.is-invalid]="category?.invalid && category?.touched" class="form-control" name ="category" #category="ngModel" [(ngModel)]="categoryModel.category" type="text"  pattern="^[A-Za-z\s]{5,}$"  required>
                <label>Enter Category</label>
                <div class="check container mt-4 pt-1" *ngIf="category?.invalid && category?.touched">
                <label *ngIf="category.errors?.['required']" class="text-danger">Category is Required</label>
                <label *ngIf="category.errors?.['pattern']" class="text-danger">Invalid Category</label>
                </div> 
            </div>
            <div class="pt-1"></div>
            
            <div class="input-box form-group">
                <input [class.is-invalid]="about?.invalid && about?.touched" class="form-control py-3" name ="about" #about="ngModel" [(ngModel)]="categoryModel.about" type="text"  pattern="^[A-Za-z\s]{8,}$"  required/>
                <label>Few Words About the Category</label>
                <div class="check container mt-4 pt-1" *ngIf="about?.invalid && about?.touched">
                <label *ngIf="about.errors?.['required']" class="text-danger">Details About Category is Required</label>
                <label *ngIf="about.errors?.['pattern']" class="text-danger">Invalid Detail</label>
                </div> 
            </div>

            {{categoryModel | json}}
            <hr>
                     {{categoryForm.value | json}}
            <div class="mt-5">
            <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <mat-step label="Create Post" [stepControl]="postform.control" errorMessage="First Post is required">
        <form #postform="ngForm">
            <ng-template matStepLabel>Enter Post</ng-template>

            <div class="input-box form-group">
              <input  class="form-control" [class.is-invalid]="head?.invalid && head?.touched"  name="head" #head="ngModel" [(ngModel)]="postModel.head" type="text" pattern='^[A-Za-z\s]{6,}$'  required>

              <label>Post Heading</label>
              <div class="check container mt-4 pt-1" *ngIf="head?.invalid && (head.dirty || head?.touched)">
                  <label *ngIf="head.errors?.['required']" class="text-danger">Heading is Required</label>
                  <label *ngIf="head.errors?.['pattern']" class="text-danger">Heading must have at least 6 characters and only alphabets</label>
              </div>
            </div>
            <div class="pt-1"></div>
      
            <div class="input-box form-group">
              <input name="subhead" #subhead="ngModel" [class.is-invalid]="subhead?.invalid && subhead?.touched" class="form-control" [(ngModel)]="postModel.subhead" type="text"  required>
              <label>Post Subheading</label>
              <div class="check container mt-4 pt-1" *ngIf="subhead?.invalid && (subhead.dirty || subhead?.touched)">
                  <label *ngIf="subhead.errors?.['required']" class="text-danger">Subhead is Required</label>
                  <label *ngIf="subhead.errors?.['pattern']" class="text-danger">Invalid Subhead</label>
              </div>
             </div>
            <div class="pt-1"></div>
           
            <div class="form-group">
                <label class="my-3 fs-5">Post Category</label>
                <div class="form-check">
                    <input name="category" #category="ngModel" value="Health" [class.is-invalid]="category?.invalid && category?.touched" class="form-check-input"  [(ngModel)]="postModel.category" type="radio"  required>
                    <label for="category" class="form-check-label">Health</label>
                </div>
                <div class="form-check">
                    <input name="category" #category="ngModel" value="Diet" [class.is-invalid]="category?.invalid&& category?.touched" class="form-check-input"  [(ngModel)]="postModel.category" type="radio"  required>
                    <label for="category" class="form-check-label">Diet</label>
                </div>
                <div class="form-check">
                    <input name="category" #category="ngModel" value="Fitness" [class.is-invalid]="category?.invalid && category?.touched" class="form-check-input"  [(ngModel)]="postModel.category" type="radio"  required>
                    <label for="category" class="form-check-label">Fitness</label>
                </div>
              <div class="check container mt-4 pt-1" *ngIf="category?.invalid && category?.touched">
                  <label *ngIf="category.errors?.['required']" class="text-danger">Category is Required</label>
              </div>
             </div>
            <div class="pt-1"></div>
            
            <div class="input-box form-group">
              <input name="body" #body="ngModel" [class.is-invalid]="body?.invalid && body?.touched" class="form-control" [(ngModel)]="postModel.body" type="text"  required>
              <label>Post Body</label>
              <div class="check container mt-4 pt-1" *ngIf="body?.invalid && (body.dirty || body?.touched)">
                  <label *ngIf="body.errors?.['required']" class="text-danger">Body is Required</label>
                  <label *ngIf="body.errors?.['pattern']" class="text-danger">Invalid Body</label>
              </div>
             </div>
            <div class="pt-1"></div>
        
            <div class="input-box form-group">
                <input (change)="onImageSelect($event)"  name="image"  class="form-control" placeholder="Choose a Post Image" type="file" accept="image/png, image/jpeg, image/jpg" required>
            </div>
            <div class="pt-1"></div>
            
        {{postModel | json}}
<hr>
         {{postform.value | json}}
    </form>
    <div class="mt-3">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </div>

</mat-step>

    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>On hitting Submit a New Category will be created.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (onsubmit)="createCategory()">Submit</button>
        </div>
      </mat-step>
  </mat-vertical-stepper>