
<div class="container">
    <footer class="py-3 navbar-light">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a *ngIf="!auth.loggedIn()" (click)='onClick("home")' href="/home" class="nav-link px-2">Home</a></li>
        <li class="nav-item"><a *ngIf="!auth.loggedIn()" (click)='onClick("services")' class="nav-link px-2">Services</a></li>
        <li class="nav-item"><a *ngIf="!auth.loggedIn()" (click)='onClick("about")' class="nav-link px-2">About</a></li>
        <li class="nav-item"><a *ngIf="auth.loggedIn()" href="/contactus" class="nav-link px-2">Contact Us</a></li>
      </ul>
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a>
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a>
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a>
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="text-center"><b>Copyright &copy; 2022 Fit<span class="text-danger">'N'</span>Healthy
                </b></div>
            </div>
        </div>
    </div>
    </footer>
</div>
  